VITE_SUPABASE_URL=https://pvmqazykyvkmtdjgwpsg.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_UtnvtCA2DTSxCZd6R4msTw_vzgpvmfu
VITE_SUPABASE_ANON_KEY=sb_publishable_UtnvtCA2DTSxCZd6R4msTw_vzgpvmfu
SUPABASE_URL=https://pvmqazykyvkmtdjgwpsg.supabase.co
SUPABASE_SERVICE_ROLE_KEY=admin
SUPABASE_ANON_KEY=sb_publishable_UtnvtCA2DTSxCZd6R4msTw_vzgpvmfu
